body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-conteiner {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #fff;
  margin: 40px auto;
}

.about-me-profession {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.about-me-section {
}
.my-projects-section {
}
.work-experience-section {
}
.my-education-section {
}

.sidebar {
  background: #1e2939;
}
